{% extends 'layout/base.html' %}
{% block content %}

<div id="pay">
    <div class="row">
        <div class="col-md-5 col-sm-12">
            <form action="" class="form-pay">
                <h2 class="text-center">Thông tin khách hàng</h2>
                <div class="form-floating mb-3 mt-3 control form-group">
                    <input type="text" class="form-control" required id="name"
                           placeholder="Họ tên khách hàng" name="name">
                    <label for="username">Họ tên khách hàng</label>
                    <span></span>
                </div>
                <div class="form-floating mb-3 mt-3 control form-group">
                    <input type="text" class="form-control" required id="phone"
                           placeholder="Số điện thoại" name="phone">
                    <label for="SDT">Số điện thoại</label>
                    <span></span>
                </div>
                <div class="form-floating mb-3 mt-3 control form-group">
                    <input type="text" class="form-control" required id="CCCD"
                           placeholder="CCCD" name="CCCD">
                    <label for="CCCD">CCCD</label>
                    <span></span>
                </div>
                <div class="form-floating mb-3 mt-3 control form-group">
                    <input type="text" class="form-control" required id="address"
                           placeholder="address" name="address">
                    <label for="address">Địa chỉ</label>
                    <span></span>
                </div>

                <div class="select-Loai-Khach">
                    <span>Loại khách</span>
                    <select id="select-LoaiKhach">
                        <option selected>Nội địa</option>
                        <option>Nước ngoài</option>
                    </select>
                </div>
                <div>
                    <button type="button" class="btn btn-primary" onclick="danhSachKhachHang()">Thêm khách hàng</button>
                </div>
                <script src="{{ url_for('static', filename='js/load_kh.js') }}"></script>
            </form>
        </div>

        <div class="col-md-7 col-sm-12">
            <div class="thongTinPhong">
                <h2 class="text-center">Thông tin phòng</h2>
                <form action="">
                    <div class="select-Loai-Khach">
                        <span>Loại phòng</span>
                        <select id="select-loaiPhong" onblur="update_thanhToan()">
                            {% for lp in loaiPhong %}
                            <option value="{{ lp.loaiPhongId }}">{{ lp.loaiPhong }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="select-Loai-Khach">
                        <span>Số lượng</span>
                        <input id="soLuongPhong" type="number" value="0"/>
                    </div>
                    <div class="priceRoom" id="priceRoom">

                        <h3>Đơn giá: <span id="price">đ{{ "{:,.0f}".format(3500000) }}</span></h3>

                    </div>
                    <div class="inputDate">
                    <div class="col-md-5">
                        <div class="date" id="date1" data-target-input="nearest">
                            <input type="text" onfocus="(this.type='date')" onblur="(this.type = 'text')"
                                   class="form-control datetimepicker-input"
                                   placeholder="Check in" data-target="#date1" data-toggle="datetimepicker"/>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="date" id="date2" data-target-input="nearest">
                            <input type="text" onfocus="(this.type='date')" onblur="(this.type = 'text')"
                                   class="form-control datetimepicker-input" placeholder="Check out" data-target="#date2"
                                   data-toggle="datetimepicker"/>
                        </div>
                    </div>
                </div>
                    <div style="margin-top: 20px">
                        <button type="button" class="btn btn-primary" onclick="danhSachPhong()">Thêm phòng</button>
                    </div>
                    <script src="{{ url_for('static', filename='js/load_phong.js') }}"></script>
                </form>
                <div class="thongTinKhachHang">
                    <table class="table">
                        <tr>
                            <th>STT</th>
                            <th>Tên phòng</th>
                            <th>Số lượng</th>
                            <th>Đơn giá</th>
                            <th></th>
                        </tr>
                        <tbody id="table1">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="thongTinKhachHang">
                <table class="table">
                    <tr>
                        <th>STT</th>
                        <th>Tên khách hàng</th>
                        <th>Số điện thoại</th>
                        <th>CCCD</th>
                        <th>Địa chỉ</th>
                        <th>Loai khách</th>
                        <th></th>
                    </tr>
                    <tbody id="table">
                    </tbody>
                </table>

                <div class="alert alert-info" id="alertTotal">
                    <h3>
                        Tổng tiền:
                    </h3>
                </div>
                <div class="btn-Xác-nhận">
                    <button class="btn btn-primary">Xác nhận đặt phòng</button>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}