{% extends 'layout/base.html' %}
{% block content %}

<h1 class="header_booking">ĐẶT PHÒNG</h1>


<!--New customer -->
<div>
    <div class="book_line_items">
        <div class="booking_line-item">
            <div id="margin" class="booking_line-item-margin">Số phòng:</div>
            <select>
                <option selected></option>
                <option value="1">101</option>
                <option value="2">102</option>
                <option value="3">103</option>
                <option value="3">10000</option>
            </select>
        </div>

        <div class="booking_line-item">
            <div class="booking_line-item-margin">Loại phòng:</div>
            <select>
                <option selected>Standard Single</option>
                <option value="1">Standard Double</option>
                <option value="2">Prenium</option>
            </select>
        </div>
    </div>

    <div class="col-md-10">
        <div class="row g-2">
            <div class="col-md-3">
                <div class="date" id="#date1" data-target-input="nearest">
                    <input type="text" onfocus="(this.type='date')" onblur="(this.type = 'text')"
                           class="form-control datetimepicker-input"
                           placeholder="Ngày nhận phòng" data-target="#date1" data-toggle="datetimepicker"/>
                </div>
            </div>
            <div class="col-md-3">
                <div class="date" id="#date2" data-target-input="nearest">
                    <input type="text" onfocus="(this.type='date')" onblur="(this.type = 'text')"
                           class="form-control datetimepicker-input" placeholder="Ngày trả phòng" data-target="#date2"
                           data-toggle="datetimepicker"/>
                </div>
            </div>
        </div>
    </div>


    <div class="book_line_items">
        <div class="booking_line-item booking_line-item1">
            <span class="booking_line-item-margin">Khách hàng 1: </span>
            <input type="text" placeholder="Nhập tên"/>
        </div>

        <div class="booking_line-item">
            <span class="booking_line-item-margin">Loại khách: </span>
            <select>
                <option selected>Nội địa</option>
                <option value="1">Nước ngoài</option>
            </select>
        </div>

        <div class="booking_line-item">
            <span class="booking_line-item-margin">CCCD: </span>
            <input type="text" placeholder="Nhập CCCD"/>
        </div>

        <div class="booking_line-item">
            <span class="booking_line-item-margin">Địa chỉ: </span>
            <input type="text" placeholder="Nhập địa chỉ"/>
        </div>
        <button type="button" class="btn btn-primary booking_line-item-btns">X</button>
    </div>


    <div class="book_line_items">
        <button type="button" class="btn btn-primary booking_line-item-margin">Thêm</button>
    </div>

    <div class="book_line_items book_line_items-right">
        <button type="button" class="btn btn-primary booking_line-item-margin">Lưu nháp</button>
        <button type="button" class="btn btn-primary booking_line-item-margin">Đặt phòng</button>
    </div>
</div>
<!--End customer -->


<!--Table -->

<div class="container mt-3">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th colspan="5">PHIẾU ĐẶT PHÒNG</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-row1">
                <td colspan="3">Họ tên người đặt:</td>
                <td colspan="2">Các phòng đặt:</td>
            </tr>
            <tr class="table-row1">
                 <td colspan="3">Ngày nhận phòng:</td>
                <td colspan="2">Ngày trả phòng:</td>
            </tr>
            <tr>
                <td class="col10">STT</td>
                <td class="col25" >Khách hàng</td>
                <td class="col15">Loại khách</td>
                <td class="col25">CCCD</td>
                <td class="col25">Địa chỉ</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Doe</td>
                <td>john@example.com</td>
                <td>john@example.com</td>
                <td>john@example.com</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Doe</td>
                <td>john@example.com</td>
                <td>john@example.com</td>
                <td>john@example.com</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Doe</td>
                <td>john@example.com</td>
                <td>john@example.com</td>
                <td>john@example.com</td>
            </tr>
        </tbody>
    </table>
</div>
<!--End table -->


{% endblock %}